
<extend name="Common/base" />

<block name="main">
    <div class="marquee_box">
        <div class="w_list">
            <marquee scrollamount="3" scrolldelay="10">【<span class="marquee_main">
                <span class="red"><a href="http://www.sucaihuo.com/member/pay.html" rel="nofollow" target="_blank">在线充值</a> 温馨提示：</span>充200元以上立即赠送1个月会员，充的多送的多，永久会员再送50元积分</span>，<a href="http://www.lanrenzhijia.com" target="_blank">懒人之家</a>投放广告和技术问题协助联系QQ416148489】
            </marquee>
        </div>
    </div>
    <div id="classify">
        <div class="classify_box ">
            <?php foreach($attrs as $v):?>
                <?php if($v['parent_id']==0):?>
                <div class="tg_classify_wrap clearfix ">
                    <dl class="tg_classify_wrap_left">
                        <dt class="">
                            <i class="icon_order"></i>
                            {$v['attr_name']}
                        </dt>
                    </dl>
                    <dl class="tg_classify_wrap_right">
                        <?php $attres=explode(',',$v['attr_value']);?>
                        <dd class="on1">
                            <a href="__CONTROLLER__/index">
                                <span>不限</span>
                            </a>
                        </dd>
                        <?php foreach($attres as $v1):?>
                        <dd class="">
                            <a href="">
                                <span>{$v1}</span>
                            </a>
                        </dd>
                        <?php endforeach;?>
                    </dl>

                </div>
                <?php endif;endforeach; ?>
        </div>

    </div>

</block>










