
<extend name="Common/base" />

<block name="main">
    <div class="marquee_box">
        <div class="w_list">
            <marquee scrollamount="3" scrolldelay="10">【<span class="marquee_main">
                <span class="red"><a href="http://www.sucaihuo.com/member/pay.html" rel="nofollow" target="_blank">在线充值</a> 温馨提示：</span>充200元以上立即赠送1个月会员，充的多送的多，永久会员再送50元积分</span>，<a href="http://www.lanrenzhijia.com" target="_blank">懒人之家</a>投放广告和技术问题协助联系QQ416148489】
            </marquee>
        </div>
    </div>
    <div id="classify">
        <div class="classify_box ">
            <?php foreach($attrs as $k => $v):?>
                <?php if($v['attrtype_id']==1):?>
                    <?php
                        if(I('filter')){
                            $a=explode('-',I('filter'));
                        }else{
                            $a=array_fill(0,$num,0);
                        }
                    ?>
                    <?php if($v['child']):?>
                        <div class="tg_classify_wrap clearfix ">
                            <dl class="tg_classify_wrap_left">
                                <dt class="">
                                    <i class="icon_order"></i>
                                    {$v['attr_name']}
                                </dt>
                            </dl>
                            <dl class="tg_classify_wrap_right">
                                <?php $filter=implode('-',$a);?>
                                <dd class="<?php if(!I('filter') or $a[$k]==0){echo 'on1';}?>">
                                    <?php $c=explode('-',I('filter'));
                                    $c[$k]=0;
                                    $filter=implode('-',$c);
                                    ?>
                                    <a href="<?php echo U('Vip/index',['filter'=>$filter]);?>">
                                        </span>不限</span>
                                    </a>
                                </dd>
                                <!--这里取得URL的filter变量-->
                                <?php if(I('filter')){
                                    $e=explode('-',I('filter'));
                                }?>
                                <!--这里取得URL的filter变量结束-->
                                <?php foreach($v['child'] as $v1):?>
                                    <?php $a[$k]=$v1['id']; $filter=implode('-',$a);?>
                                    <dd class="<?php if(I('filter') && $e[$k]==$v1['id']){echo 'on1';}?>">
                                        <a href="<?php echo U('Vip/index',['filter'=>$filter])?>">
                                            <span>{$v1.attr_name}</span>
                                        </a>
                                    </dd>
                                <?php endforeach;?>
                            </dl>
                        </div>


                <!--这里是分类子集-->
                        <?php
                        if(I('filter')){
                            $n=explode('-',I('filter'));
                        }
                        if($n[0]!=0){
                            foreach($v['child'] as $t =>$j){
                                    if($n[0]==$j['id']){ ?>
                                        <div class="tg_classify_wrap clearfix ">
                                            <dl class="tg_classify_wrap_left">
                                                <dt class="">
                                                    <i class="icon_order"></i>
                                                    分类子集
                                                </dt>
                                            </dl>
                                            <dl class="tg_classify_wrap_right">
                                                <?php $filter=implode('-',$a);?>
                                                <dd class="<?php if(!I('filter') or $a[$k]==0){echo 'on1';}?>">
                                                    <a href="<?php echo U('Vip/index',['filter'=>$filter]);?>">
                                                        </span>不限</span>
                                                    </a>
                                                </dd>
                                                <?php foreach($j['value'] as $m):?>
                                                <?php $a[$k]=$m['vid']; $filter=implode('-',$a);?>
                                                <dd class="<?php if(I('filter') && $e[$k]==$v1['id']){echo 'on1';}?>">
                                                    <a href="<?php echo U('Vip/index',['filter'=>$filter])?>">
                                                        <span>{$m.v1}</span>
                                                    </a>
                                                </dd>
                                                <?php endforeach;?>
                                             </dl>
                                        </div>

                        <?php

                                    }
                                }
                            }
                       ?>

                <!--这里是分类子集结束-->
                    <?php else:?>
                        <div class="tg_classify_wrap clearfix ">
                            <dl class="tg_classify_wrap_left">
                                <dt class="">
                                    <i class="icon_order"></i>
                                    {$v['attr_name']}
                                </dt>
                            </dl>
                            <dl class="tg_classify_wrap_right">
                                <?php $filter=implode('-',$a);?>
                                <dd class="<?php if(!I('filter') or $a[$k]==0){echo 'on1';}?>">
                                    <?php $c=explode('-',I('filter'));
                                    $c[$k]=0;
                                    $filter=implode('-',$c);
                                    ?>
                                    <a href="<?php echo U('Vip/index',['filter'=>$filter]);?>">
                                        </span>不限</span>
                                    </a>
                                </dd>
                                <!--这里取得URL的filter变量-->
                                <?php if(I('filter')){
                                    $d=explode('-',I('filter'));
                                }?>
                                <!--这里取得URL的filter变量结束-->
                                <?php foreach($v['value'] as $v1):?>
                                    <?php $a[$k]=$v1['id']; $filter=implode('-',$a);?>
                                    <dd class="<?php if(I('filter') && $d[$k]==$v1['id']){echo 'on1';}?>">
                                        <a href="<?php echo U('Vip/index',['filter'=>$filter])?>">
                                            <span>{$v1.v1}</span>
                                        </a>
                                    </dd>
                                <?php endforeach;?>
                            </dl>
                        </div>
                    <?php endif;?>

                <?php endif;?>
            <?php endforeach; ?>
                      <!--  <?php
                            if(I('filter')){
                                $a=explode('-',I('filter'));
                                $curent=$a[$c];
                            }else{
                                $a=array_fill(0,$num,0);
                            }
                         ?>-->
                        <!--<div class="tg_classify_wrap clearfix ">
                            <dl class="tg_classify_wrap_left">
                                <dt class="">
                                    <i class="icon_order"></i>
                                    {$v['attr_name']}
                                </dt>
                            </dl>
                            <dl class="tg_classify_wrap_right">
                                <?php
                                if(I('filter')){
                                    $a[$c]=0;
                                }
                                ?>
                                <?php $filter=implode('-',$a);?>
                                <dd class="<?php if(!I('filter') or $curent==0){echo 'on1';}?>">
                                    <a href="<?php
                                    if(I('filter')=='0-0-0-0'){
                                    echo U('Vip/index');
                                    }else{
                                    echo U('Vip/index',['filter'=>$filter]);
                                    }

                                    ?>">
                                        </span>不限</span>
                                    </a>
                                </dd>
                                <?php if($v['is_attr']==1):?>
                                    <?php foreach($attrs as $v1):?>
                                        <?php if($v['id']==$v1['parent_id']):?>
                                        <?php $a[$c]=$v1['id']; $filter=implode('-',$a);?>
                                        <dd class="<?php if($curent==$v1['id']){echo 'on1';}?>">
                                            <a href="<?php echo U('Vip/index',['filter'=>$filter])?>">
                                                <span>{$v1.attr_name}</span>
                                            </a>
                                        </dd>
                                    <?php endif;endforeach;?>
                                <?php else:?>
                                    <?php foreach($v['value'] as $v2):?>
                                        <?php $a[$c]=$v2['id']; $filter=implode('-',$a);?>
                                        <dd class="<?php if($curent==$v2['id']){echo 'on1';}?>">
                                            <a href="<?php echo U('Vip/index',['filter'=>$filter])?>">
                                                <span>{$v2.v1}</span>
                                            </a>
                                        </dd>
                                    <?php endforeach;?>
                                <?php endif;?>
                            </dl>-->







            </div>
        </div>

    </div>

    <script>

       /* $(function(){
            //搜索标签的点击，出现被选效果
            var div= $('.tg_classify_wrap');
            div.each(function(k){
                var dl=$(this).find('dl').eq(1);
                var dd=dl.find('dd');
                dd.each(function(i){
                    $(this).click(function(){
                        dd.eq(i).addClass('on1').siblings('dd').removeClass('on1');
                    });
                });
            });
        });*/




    </script>


</block>










