
<extend name="Common/base" />

<block name="main">

    <div class="atr_contain clearfix">
        <div class="contain_box ">
            <div class="contain_top clearfix">
                <h1>建站小识</h1>
                <div class="contain_nav">
                    <a href="http://www.moban18.com/">模板易吧</a>>
                    <a href="__CONTROLLER__">建站小识</a>
                </div>

                <div class="research">
                    <form action="__CONTROLLER__/articleSearch" method="post">
                        <div class="research_box">
                            <img class="research_img" src="__PUBLIC__/images/search.gif" alt=""/>
                            <input name="s" type="text" class="research_input" placeholder="请输入搜索内容" />
                            <input type="submit"  class="res_sub" value="查询" />
                        </div>
                    </form>
                </div>
            </div>
            <div class="contain_bottom clearfix">
                <div class="mail2">
                    <!--文章体块-->
                    <?php foreach($articles as $v):?>
                    <div class="main1">
                        <div class="contain_left">
                            <div class="container_box">
                                <div class="contain_left_top">
                                    <div class="contain_left_top_box clearfix">
                                        <a href="__MODULE__/{$v['cate_url']}/content/id/{$v['id']}" target="_blank">{$v['article_title']}</a>
                                        <img src="__PUBLIC__/images/tx.jpg" alt="作者头像"/>
                                    </div>
                                </div>
                                <div class="contain_left_center clearfix">
                                    <div class="center_box_top">
                                        <div class="center_box_top_left">
                                            <a href="__CONTROLLER__/index/cate/{$v['id']}" alt="">{$v['cate_name']}</a>>
                                            <a href="http://www.moban18.com/" alt="">{$v['article_anthor']}</a>•
                                            <span>
                                                <?php echo date('Y-m-d H:i',$v['article_time'])?>
                                            </span>
                                            <span>•20文章评论</span>
                                        </div>
                                        <div class="center_box_top_right">
                                            <span>
                                                <?php if($v['article_comment']){
                                                    echo $v['article_comment'];
                                                }else{
                                                    echo 10;
                                                }?>
                                                次点击</span>
                                        </div>
                                    </div>
                                    <div class="center_box_center clearfix">
                                        <p> {$v['article_dec']}...</p>

                                    </div>
                                    <div class="center_box_bottom">
                                        <div class="center_box_bottom_box">
                                            <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                            <span>PHP您不是一个人！模板易吧(moban18.com)</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <?php endforeach;?>
                    <!--文章体块结束-->
                    <?php if($pages):?>
                    <div class="contain_page">
                        <div class="contain_page_box clearfix">

                            <div class="page_left">
                                <!--上一页开始-->
                                    <?php if(I('p')>1):
                                        $pre=I('p')-1;
                                        $reach=I('article_research');
                                    ?>
                                    <div class="article_pre">
                                        <a href="__CONTROLLER__/articleSearch/s/{$s}/p/{$pre}" title="上一页">上一页</a>
                                    </div>
                                    <?php endif;?>
                                <!--上一页结束-->
                                <!--数字页码开始-->
                                <?php for($i=0;$i<$pages;$i++):
                                    if($i<=9):
                                    ?>
                                    <a href="__CONTROLLER__/articleSearch/s/{$s}/p/{$i+1}" class="
                                    <?php if(I('p')){
                                        if(I('p')==$i+1){
                                            echo 'page_on';
                                        }
                                    }else{
                                        if($i+1==1){
                                         echo 'page_on';
                                        }
                                    }?>
                                    ">{$i+1}</a>

                                <?php endif; endfor;?>
                                <!--数字页码结束-->
                                <!--下一页开始-->
                                    <?php if(I('p')<$pages):
                                        $nex=I('p')+1;
                                    ?>
                                    <div class="article_nex">
                                        <a href="__CONTROLLER__/articleSearch/s/{$s}/p/{$nex}" title="下一页">下一页</a>
                                    </div>
                                    <?php endif;?>
                                <!--下一页结束-->

                            </div>
                            <div class="page_right">
                                共 <span class="orange" style="font-weight:bold">{$count} </span>条
                                <span class="page-small">
                                    <a class="prev-btn page-btn" href="
                                    <?php if(I('p')>1):
                                        $pre=I('p')-1;
                                    ?>
                                    __CONTROLLER__/articleSearch/s/{$s}/p/{$pre}
                                    <?php else:?>
                                        javascript:void(0)
                                    <?php endif;?>
                                    ">
                                        <span class="arrow-left arrow arrow-left-none
                                        <?php if(I('p')>1){echo 'arrow_left_color';}?>
                                        "></span>
                                    </a>
                                    <span class="orange">
                                        <?php if(I('p')){
                                            echo I('p');
                                        }else{
                                            echo 1;
                                        }?>
                                    </span>/{$pages}
                                    <a class="pnext-btn page-btn" href="
                                    <?php if(!I('p')):
                                        $nex=2;
                                    ?>
                                     __CONTROLLER__/articleSearch/s/{$s}/p/{$nex}
                                    <?php elseif(I('p')<$pages):
                                             $nex=I('p')+1;
                                        ?>
                                     __CONTROLLER__/articleSearch/s/{$s}/p/{$nex}
                                    <?php else:?>
                                        javascript:void(0)
                                    <?php endif;?>

                                    ">
                                        <span class="arrow-right arrow
                                        <?php if(I('p')>=$pages){echo 'arrow_right_color';}?>
                                        "></span>
                                    </a>
                                </span>


                            </div>

                        </div>
                    </div>
                    <?php endif;?>
                </div>
                <!--黄金分割线-->
                <!--右边sidebar-->
                <div class="sidebar_box">
                    <?php foreach($newArticles as $k=> $v):?>
                    <div class="sidebar clearfix">
                        <?php if($k<=4):?>
                        <div class="contain_right clearfix ">
                            <div class="contain_right_box">
                                <div class="sidebar_contain clearfix">
                                    <div class="sidebar_contain_top clearfix">
                                        <h1><a herf="__CONTROLLER__/index/cate/{$v['id']}">{$v['cate_name']}</a></h1>
                                        <a href="__CONTROLLER__/index/cate/{$v['id']}">更多>></a>
                                    </div>
                                    <?php if($v['articles']):
                                    foreach($v['articles'] as $k1=> $v1):
                                    if($k1<1):
                                    ?>
                                    <div class="sidebar_contain_center clearfix">
                                        <img src="__ROOT__/{$v1['article_136_86']}" alt=""/>
                                        <div class="sidebar_contain_center_box">
                                            <a href="###">
                                                <?php echo $str=mb_substr($v1['article_title'],0,15,'utf-8');?>
                                            </a>
                                            <p>
                                                <?php echo $str=mb_substr($v1['article_dec'],0,50,'utf-8');?>.....
                                            </p>
                                        </div>
                                    </div>
                                    <?php else:?>
                                    <div class="sidebar_contain_bottom">
                                        <div class="sidebar_contain_bottom_box">
                                            <ul>
                                                <li>
                                                    <a href="###">
                                                        <?php echo $str=mb_substr($v1['article_title'],0,28,'utf-8');?>
                                                    </a>
                                                    <span><?php echo date('m-d',$v1['article_time']);?></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <?php endif; endforeach;endif;?>
                                </div>
                            </div>


                        </div>
                        <?php endif;?>
                    </div>
                    <?php endforeach;?>
                </div>

            </div>


        </div>


    </div>

    <script>
        $('.research_input').focus(function(){
            $(this).attr('placeholder','');
            $(this).blur(function(){
                $(this).attr('placeholder','请输入搜索内容');
            });
        });

    </script>
</block>










