
<extend name="Common/base" />

<block name="main">

    <div class="atr_contain clearfix">
        <div class="contain_box ">
            <div class="contain_top clearfix">
                <h1>建站小识</h1>
                <div class="contain_nav">
                    <a href="###">模板易吧</a>>
                    <a href="###">建站小识</a>
                </div>

                <div class="research">
                    <div class="research_box">
                        <img class="research_img" src="__PUBLIC__/images/search.gif" alt=""/>
                        <input name="research" type="text" class="research_input" placeholder="请输入搜索内容"/>
                        <input type="submit" name="res_sub" class="res_sub" value="查询" />
                    </div>
                </div>
            </div>
            <div class="mail2">
                <!--文章体块-->
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--文章体块结束-->
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--文章体块-->
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--文章体块结束-->
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="main1">
                    <div class="contain_left">
                        <div class="container_box">
                            <div class="contain_left_top">
                                <div class="contain_left_top_box clearfix">
                                    <a href="###">2018年课程计划表</a>
                                    <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                </div>
                            </div>
                            <div class="contain_left_center clearfix">
                                <div class="center_box_top">
                                    <div class="center_box_top_left">
                                        <a href="###" alt="">原创课程及资料</a>>
                                        <a href="###" alt="">童攀</a>•
                                        <span>2018-01-23 9:37</span>
                                        <span>•20文章评论</span>
                                    </div>
                                    <div class="center_box_top_right">
                                        <span>1054 次点击</span>
                                    </div>
                                </div>
                                <div class="center_box_center clearfix">
                                    <p> tp5.1实战开发微信商城 预计发布时间3月10号，内容多多 Laravel第一季 博客（含重要基础知识） Laravel第二季 社区...</p>

                                </div>
                                <div class="center_box_bottom">
                                    <div class="center_box_bottom_box">
                                        <img src="__PUBLIC__/images/tx.jpg" alt=""/>
                                        <span>已通知管理员处理</span>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="contain_page">
                    <div class="contain_page_box clearfix">
                        <div class="page_left">
                            <a href="###">1</a>
                            <a href="###">2</a>
                            <a href="###">3</a>
                            <a href="###">4</a>
                            <a href="###">5</a>
                            <a href="###">6</a>
                            <a href="###">7</a>
                            <a href="###">8</a>
                            <a href="###">9</a>
                            <a href="###">10</a>
                        </div>
                        <div class="page_right">
                            <span class="page-small">
                                <a class="prev-btn page-btn" href="javascript:void(0);">
                                    <span class="arrow-left arrow arrow-left-none"></span>
                                </a>
                                <span class="orange">1</span>/5
                                <a class="pnext-btn page-btn" href="###">
                                    <span class="arrow-right arrow "></span>
                                </a>
                            </span>

                        </div>

                    </div>
                </div>
            </div>
            <!--黄金分割线-->
            <!--右边sidebar-->
            <div class="sidebar">
                <div class="contain_right ">
                <div class="contain_right_box">
                    <div class="sidebar_contain">
                        <div class="sidebar_contain_top clearfix">
                            <h1><a herf="###">PHP最新技术</a></h1>
                            <a href="###">更多>></a>
                        </div>
                        <div class="sidebar_contain_center clearfix">
                            <img src="__PUBLIC__/images/w1.jpg" alt=""/>
                            <div class="sidebar_contain_center_box">
                                <a href="###">使用织梦计划任务功能让网站</a>
                                <p>使用过dedecms织梦系统的人都知道有一个计划任务的功能，这个功能很多人不.....</p>
                            </div>
                        </div>
                        <div class="sidebar_contain_bottom">
                            <div class="sidebar_contain_bottom_box">
                                <ul>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>
                                    <li>
                                        <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                        <span>02-02</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>





                </div>


            </div>
                <div class="contain_right ">
                    <div class="contain_right_box">
                        <div class="sidebar_contain">
                            <div class="sidebar_contain_top clearfix">
                                <h1><a herf="###">PHP最新技术</a></h1>
                                <a href="###">更多>></a>
                            </div>
                            <div class="sidebar_contain_center clearfix">
                                <img src="__PUBLIC__/images/w1.jpg" alt=""/>
                                <div class="sidebar_contain_center_box">
                                    <a href="###">使用织梦计划任务功能让网站</a>
                                    <p>使用过dedecms织梦系统的人都知道有一个计划任务的功能，这个功能很多人不.....</p>
                                </div>
                            </div>
                            <div class="sidebar_contain_bottom">
                                <div class="sidebar_contain_bottom_box">
                                    <ul>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>





                    </div>


                </div>
                <div class="contain_right ">
                    <div class="contain_right_box">
                        <div class="sidebar_contain">
                            <div class="sidebar_contain_top clearfix">
                                <h1><a herf="###">PHP最新技术</a></h1>
                                <a href="###">更多>></a>
                            </div>
                            <div class="sidebar_contain_center clearfix">
                                <img src="__PUBLIC__/images/w1.jpg" alt=""/>
                                <div class="sidebar_contain_center_box">
                                    <a href="###">使用织梦计划任务功能让网站</a>
                                    <p>使用过dedecms织梦系统的人都知道有一个计划任务的功能，这个功能很多人不.....</p>
                                </div>
                            </div>
                            <div class="sidebar_contain_bottom">
                                <div class="sidebar_contain_bottom_box">
                                    <ul>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>





                    </div>


                </div>
                <div class="contain_right ">
                    <div class="contain_right_box">
                        <div class="sidebar_contain">
                            <div class="sidebar_contain_top clearfix">
                                <h1><a herf="###">PHP最新技术</a></h1>
                                <a href="###">更多>></a>
                            </div>
                            <div class="sidebar_contain_center clearfix">
                                <img src="__PUBLIC__/images/w1.jpg" alt=""/>
                                <div class="sidebar_contain_center_box">
                                    <a href="###">使用织梦计划任务功能让网站</a>
                                    <p>使用过dedecms织梦系统的人都知道有一个计划任务的功能，这个功能很多人不.....</p>
                                </div>
                            </div>
                            <div class="sidebar_contain_bottom">
                                <div class="sidebar_contain_bottom_box">
                                    <ul>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>
                                        <li>
                                            <a href="###">dedecms伪静态设置以及目录链接301跳转</a>
                                            <span>02-02</span>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>





                    </div>


                </div>
                <div class="contain_right ">
                    <div class="contain_right_box">
                        <div class="sidebar_contain">
                            <div class="sidebar_contain_top clearfix">
                                <h1><a herf="###">标签汇集</a></h1>
                            </div>

                            <div class="tabs">
                                <span>网站模板</span>
                                <div class="tabs_box">
                                    <a href="###">企业模板</a>
                                    <a href="###">企业模板</a>
                                    <a href="###">企业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">响应式模板</a>
                                    <a href="###">响应式模板</a>
                                    <a href="###">响应式模板</a>
                                </div>
                            </div>
                            <div class="tabs">
                                <span>网站特效</span>
                                <div class="tabs_box">
                                    <a href="###">企业模板</a>
                                    <a href="###">企业模板</a>
                                    <a href="###">企业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">响应式模板</a>
                                    <a href="###">响应式模板</a>
                                    <a href="###">响应式模板</a>
                                </div>
                            </div>
                            <div class="tabs">
                                <span>网站源码</span>
                                <div class="tabs_box">
                                    <a href="###">企业模板</a>
                                    <a href="###">企业模板</a>
                                    <a href="###">企业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">行业模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">商城模板</a>
                                    <a href="###">响应式模板</a>
                                    <a href="###">响应式模板</a>
                                    <a href="###">响应式模板</a>
                                </div>
                            </div>


                        </div>





                    </div>


                </div>
            </div>

        </div>


    </div>

    <script>
        $('.research_input').focus(function(){
            $(this).attr('placeholder','');
            $(this).blur(function(){
                $(this).attr('placeholder','请输入搜索内容');
            });
        });
    </script>
</block>










