@charset "utf8";
/*文章内容css开始*/
.atr_contain {
    background-color:#E9EBEE;
}
.contain_box {
    width: 1100px;
    margin:0 auto;
}
.main1 {
    width:680px;
    margin-top:10px;
    padding:10px;
    background-color:#FFF;
    border:1px solid #eee;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding-bottom:10px;
}
.mail2 {
    float:left;
    background-color:#E9EBEE;


}
.contain_top {
    width:100%;
    border:1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    background-color:#fff;
}
.contain_top h1 {
    font-size: 18px;
    color: #666666;
    float: left;
    margin: 10px 15px 10px 15px;
    border-right: 1px dashed #666666;
    display: block;
    padding-right:10px;
    text-shadow: 0 1px #ccc;
}
.contain_nav {
    float:left;
}
.research {
    float:right;
    position:relative;
}
.
.research_box {

}
.research_img {
    position:absolute;
    top:18px;
    left:10px;
}
.research_input {
    width:230px;
    height:25px;
    margin:7px 150px 0 0;
    padding:3px 25px;
    border:1px solid #0090CE;
}
.res_sub {
    position:absolute;
    top:7px;
    left:252px;
    width:70px;
    height:33px;
    border:none;
    background-color:#0090CE;
}
.contain_top a {
    font-size: 14px;
    display:inline-block;
    margin:14px 15px 10px 10px;
}
.contain_bottom {
    margin-bottom: 20px;
}

.contain_left {
    margin-top:10px;
}
.contain_left_top {
    border-bottom:1px solid ;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding-bottom:10px;
}
.contain_left_top a {
    display: block;
    font-size:16px;
    float:left;
    font-weight:700;
}
.contain_left_top_box img {
    width: 25px;
    height:25px;
    border-radius:5px;
    float:right;
}
.contain_left_center {

    padding:10px 10px 0px 10px;
}
.center_box_top_left {
    float:left;
}
.center_box_top_right {
    float:right;
}
.center_box_center {
    padding:25px 0 ;
    font-size:14px;
}
.center_box_center p{
    text-indent:10px;
    display:block;
    letter-spacing:0.5px;
}

.center_box_bottom_box {
    padding:3px 5px;
    background-color:#F6F7F9;
    position:relative;

}
.center_box_bottom_box img {
    width: 25px;
    height:25px;
    border-radius:5px;
    margin-top:3px;
}
.center_box_bottom_box span {
    display: inline-block;
    position:absolute;
    top:10px;
    left:40px;
}

.contain_right {

    width: 390px;
    /*min-height: 600px;*/
    background-color:#fff;
    float:right;
    margin-top:10px;

}
/*文章sidebarCSS*/
.sidebar_box {
    float:right;
}
.sidebar {

    width:390px;
}
.contain_right {
    /*padding:10px;*/
}
.contain_right_box {

}
.sidebar_contain {
    /*height: 300px;*/
    border:1px solid ;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius:5px;
    overflow:hidden;
}
.sidebar_contain_top {
    background-color:#F6F7F9;
    border-bottom:1px solid ;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;

}
.sidebar_contain_top h1 {
    font-size:15px;
    margin: 0 20px;
    padding:8px 0px;
    float:left;

}
.sidebar_contain_top h1 a {
    margin:0px;
    cursor:pointer;
}
.sidebar_contain_top a {
    display:block;
    float:right;
    vertical-align:middle;
    margin: 9px 5px 5px 5px;
}
.sidebar_contain_center {
    margin: 10px ;
    padding-bottom:10px;
    border-bottom:1px dashed #ccc;
}
.sidebar_contain_center img {
    display: inline-block;
    width: 134px;
    height:84px;
    border:1px solid #CCCCCC;
    float:left;
}
.sidebar_contain_center_box {
    width:220px;
    float:right;
    overflow: hidden;
}
.sidebar_contain_center_box a {
    color:#000;
    margin-left:5px;
    display:block;
    width:220px;
    white-space:nowrap;

}
.sidebar_contain_center_box a:hover {
    color:#33C0D0;
}
.sidebar_contain_center_box p {
    display: block;
    width:220px;
    height:70px;
    line-height: 23px;
}
.sidebar_contain_bottom {
    padding:0px 10px 10px 10px;
    font-size: 12px;

}
.sidebar_contain_bottom_box ul li {
    height:15px;
}
.sidebar_contain_bottom_box ul li a {
    display: block;
    float:left;
}
.sidebar_contain_bottom_box ul li span {
    float:right;
}
.tabs {
    margin:10px;
    border-bottom:1px solid #ccc;
}
.tabs span {
    display:block;
    font-size:16px;
    color:#33C0D0;
    margin:10px 3px;
}
.tabs_box {
    margin-bottom:10px;
}
.tabs_box a {
    display:inline-block;
    font-size:13px;
    margin:3px;
}
/*文章页码*/
.contain_page {
    background-color:#fff;
}
.contain_page_box {
    margin:10px;
    padding: 10px;
}
.page_left {
    float:left;
}
.page_left a {
    display:inline-block;
    width:20px;
    height:20px;
    border:1px solid #ddd;
    text-align:center;
    line-height:20px;
    margin-right:5px;
}
.page_left a:hover {
    background-color:#DDD;
    color:#000;
    transition:all 0.8s;
}
.page_on {
    background-color:#DDD;
    color:#000;
}
.article_pre ,.article_nex{
    display: inline-block;
}
.article_pre a,.article_nex a {
    width:50px;
    height:20px;
    padding:0 3px;
}
.page_right {
    float:right;
}
.arrow_left_color {
     border-right: 5px solid #666666;
 }
.arrow_right_color {
    border-left: 5px solid #cccccc;
}
/*文章内容css结束*/
/*模板内容CSS开始*/
#main {
    /*padding-bottom:20px;*/
    background-color:#ffffff;
}
.w {
    width:1100px;
}
.goods_show_box {
    /*background-color:#ffffff;*/

}
#goods_show {
    width:1100px;
    margin:0 auto;
    /*min-height:500px;*/

}
.goods_sbreadcrumbs {
    height:37px;
    line-height:3.0;
    background:url('../images/icon24x24.png') 0px -173px no-repeat;
    color:#999;
    padding: 0 0 0 22px;
    margin: 5px auto 0;
    font-size:14px;
}
.goods_sbreadcrumbs span {
    margin: 0 5px;
}
#goods_show_main {
    width:1100px;

}
.goods_show_main_left {
    width:770px;
    float:left;
    margin: 5px;

}
.head {
    padding-bottom:10px;
    border-bottom:1px solid #ddd;
}
.head_inner {
    position:relative;
}
.share_collect {
    position:absolute;
    top:1px;
    left:530px;
}
.info {
    font-size:14px;
}
.info a {
    display: inline-block;
}
.info span {
    margin-left: 5px;
}
.like_remove {
    width:20px;
    height:15px;
    margin-left:5px;
    display:inline-block;
    background:url('../images/mls_global140607.png') -101px -67px no-repeat;
}

.like_status {
    width:20px;
    height:15px;
    margin-left:5px;
    display:inline-block;
    background:url('../images/mls_global140607.png') -125px -67px no-repeat;
}
.goods_boximgages {
    margin:20px 0;
    text-indent: 2em;
}
.goods_boximgages p {
    display: block;
    margin:5px 0;
}
.goods_boximgages img {
    display: block;
    margin:0 auto;
}
.goods_boximgages pre {
    width:80px;

}
.fr {
    float:right;
}
.goods_boximgages img:hover {
    opacity:1.0;
}
.userPic {
    display:block;
    float:left;
}
.head_inner h1 {
    float:left;
    font-size: 18px;
    font-weight:bold;
    margin: 10px 5px 5px 5px;
}
.round-image {
    border-radius:25px;
}
.share_collect {
    margin:10px 5px 5px 20px;
}
.template_feature {
    font-size:14px;
    margin-bottom:30px;
}
.feature {
    margin:0 10px;
    color:#000;
}
.feature a {
    color:#0090CE;
}
.viptype {
    padding:8px;
    background-color:#F7F7F7;
    text-align: center;
    font-size:16px;
    font-weight:bold;
    color:#336699
}
.viptype span {
    display: inline-block;
    padding:2px 8px;
    color:#fff;
    background-color:#336699;
    border-radius:5px;
    box-shadow:0px 0px 5px #999;
}
.viptype span:hover {
    opacity:0.7;
}
.vip_notise {
    color:red;
    font-size:14px;
    font-weight:normal;
    display:inline-block;
}

.buttons {
    width:600px;
    margin:0 auto;
    text-align: center;
    position:relative;
}
.buttons span {
    display: block;
}
.btnbox {
    width:228px;
    height:130px;
    float:left;
    margin:20px;
}
.orange {

}
.qrcode_box {
    width:228px;
    position:absolute;
    top:77px;
    left:20px;
    border:1px solid #ddd;
    z-index: 9999;
    background-color: #fff;
}
.qrcode_box img {
    opacity:1.0;
}
#qrcode {
    padding:10px;
}
.bigbtn {
    display: block;
    width: 228px;
    height:55px;
    background-color: red;
    border-radius:5px;
}
.demo {
    background:url('../images/bigbtn.png') 0 0 no-repeat;
    text-indent:-9999em;
}
.demo:hover {
    background-position: -229px 0;
}
.dlnum ,.dlcount{
    font-size: 16px;
    margin-top:25px;
}
.dlnum {
    background: url('../images/tieicon.png') 0 -95px no-repeat;
    width:155px;
    margin-left:22%;
}
.dlcount {
    background: url('../images/tieicon.png') 0 -70px no-repeat;
    width:175px;
    margin-left:20%;
    text-indent: 5px;
}
.download {
    background:url('../images/bigbtn.png') 0 -57px no-repeat;
    text-indent:-9999em;
}
.download:hover {
    background-position: -229px -57px;
}
.goods_tags {
    font-size:14px;
    color:#000;
    margin-bottom:30px;
}
.tags_a {
    display:inline-block;
    padding:5px 10px;
    border:1px solid F3F3F3;
    border-radius:13px;
    background-color:#F3F3F3;
}
.tags_a:hover {
    box-shadow:0px 0px 3px  #333;
    text-shadow: 0 1px 0 #fff;
}
.goods_pagess {
    background-color: #F7F7F7;
    padding:8px 5px;
    font-size:12px;
    color:#336699;
}
.goods_pagess_pre {
    float:left;
    background:url('../images/icon.gif')no-repeat scroll 1px -55px;
}
.goods_pagess_pre a {
    display: inline-block;
    margin-left:15px;
    padding:2px;
    color:#336699;
}
.goods_pagess_nex {
    float:right;
    background:url('../images/icon.gif') no-repeat scroll right -81px;;
}
.goods_pagess_nex a {
    display: inline-block;
    margin-right:20px;
    padding:2px;
    color:#336699;
}


.goods_show_main_right {
    width:300px;
    float: right;
    margin: 5px;

}
.goods_right_box {
    border: 1px solid #ddd;
    border-top: 7px solid #000;
    margin-bottom:10px;
}
.goods_right_box_top {
    margin:3px;
    padding:5px;
}
.goods_right_box_top h1 {
    font-size:18px;
    color:#414141;
    float:left;
}
.goods_right_box_top span {
    float:left;
    color:#ddd;
    font-size: 18px;
    margin-left:10px;
}
.goods_right_box_top a {
    display: block;
    float:right;
    color:#999;
    margin-top:7px;
    margin-right:10px;
}
.goods_right_ul {
    margin:10px;
}
.goods_right_ul ul {
    list-style: disc;
    color:#339900;
    margin: 10px 10px 0 20px;
}
.goods_right_ul ul li {
    margin:5px;
}
.goods_right_ul ul li a{
    display: inline-block;
    width:180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
.goods_right_ul ul li span {
    float:right;
    color:#999;
}
.goods_right_a {
    margin:30px 20px 20px 20px;
}
.goods_right_a a {
    display: inline-block;
    padding:2px 5px;
    border-radius:3px;
    margin: 2px;
    color:#fff;
}
/*模板内容CSS结束*/
/*文章内容页开始*/
.article_box {
    width:1100px;
    margin:0 auto;

}
.article_left {
    width:790px;
    float:left;
    color:#666666;
}
.article_right {
    width:300px;
    float:right;
    margin-top:30px;
}
.article_left_top {
    padding:10px;
    /*font-size: 14px;*/
    border-bottom:1px solid #EEEEEE;
}
.article_top_left {
    float:left;
    background:url('../images/icon24x24.png') no-repeat -5px -184px;
    padding-left:25px;
}
.article_top_left a {
    display:inline-block;
    /*margin:5px 5px;*/
    margin:3px 0px 0px 10px;
}
.article_top_left span {
    margin:0 5px;
}
.article_top_right {
    float:right;
    margin:5px 20px 0px 0px;
}
.anther {
    display:block;
    width:110px;
    height:27px;
    line-height:27px;
    background:url('../images/ss.png') 0 -280px no-repeat;
    color:#fff;
    text-align:center;
}
.anther:hover {
    background:url('../images/ss.png') 0 -307px no-repeat;
    color:#fff;
}
.godds_recommon {

}
.godds_recommon li{
    width:235px;
    font-size:11.5px;
    overflow:hidden;
    padding:5px;
    border:1px solid #ddd;
    margin:5px;
    display:inline-block;
}
.godds_recommon li a span {
    display: block;
    width: 235px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.godds_recommon li a img {
    margin-bottom:2px;
}
.article_tile {
    font-size: 18px;
    font-weight:bold;
}
#article_content {
    font-size: 14px;
    padding:20px;
}
#article_content img {
    display: block;
    margin:0 auto;
}
#article_content img:hover {
    opacity:1;
}
.declare {
    background-color:#E8F5FE;
    margin:20px 0;
    padding:5px;
    border:1px solid #ABCEE4;
    font-size: 13px;
    color:#000;
}
.declare a:hover {
    text-decoration:underline;
}
.article_pages {
    font-size:13px;
}
.article_dashang {
    margin-top:50px;
    cursor:pointer;
}
.dashang_top {
    width:134px;
    height:49px;
    background:url('../images/all-btn.png') no-repeat 0 -49px;
    margin:0 auto;
}
/*打赏CSS开始*/
#cy-reward-pop {
    width:500px;
    height:500px;
    margin:0 auto;
    text-align: center;
    border-radius:10px;
    box-shadow:0px 0px 5px #333;
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#fff;
    z-index: 999;
}
.cy-close-btn {
    width:11px;
    height:10px;
    display:block;
    background:url('../images/close.jpg') no-repeat 0 0;
    position:absolute;
    top:20px;
    right:20px;
}
.cy-avatar {
    width:70px;
    height:70px;
}
.cy-reward-title {
    margin:20px 0;
    font-size:16px;
}
.cy-reward-code img {
    width:140px;
    height:140px;
    border:5px solid #EA5F00;
    border-radius:10px;
    padding:7px;
    margin:0 auto;
    opacity:1.0;
}
.cy-reward-txt {
    font-size:14px;
    margin:10px 0;
}
.platform-choice {
    margin:40px 0;
}
.platform-item {
    width: 150px;
    height:60px;
    display:inline-block;
}
.platform-radio-box {
    width:16px;
    height:16px;
    display:block;
    background-image: url("../images/radio2.jpg");
    float:left;
    margin:5px 10px 0px 0px ;
}
.platform-checked {
    background-image: url("../images/radio1.jpg");
}

.alipay {
    display:block;
    width: 85px;
    height:28px;
    background:url('../images/alipay.jpg') no-repeat 0 0;
    float:left;
}
.weichat {
    display:block;
    width: 112px;
    height:28px;
    background:url('../images/wechat.jpg') no-repeat 0 0;
    float:left;
}

/*文章内容页结束*/
