
<extend name="User/Base/base" />

<block name="main">
    <div class="main_box">
        <div class="box">
            <div class="blank"></div>
            <div id="ur_here">
                当前位置: <a href="mbmeilishuo/">首页</a> <code>&gt;</code> 用户中心
            </div>
        </div>
        <div class="block clearfix1">
            <include file="User/Public/left"/>


            <div class="AreaR">
                <div class="AreaR_box">
                    <div class="AreaR_box_1">
                        <div class="clearfix">
                            <h5><span style="font-size: 20px;display: block;margin-bottom:10px;border-bottom:1px solid #DDDDDD;">我的下载</span></h5>
                            <div class="blank" ></div>
                            <table bgcolor="#F6F6F6" border="0" cellpadding="5" cellspacing="1" width="100%">
                                <tbody>
                                <tr align="center">
                                    <td bgcolor="#ffffff" width="40%">标题</td>
                                    <td bgcolor="#ffffff">类型</td>
                                    <td bgcolor="#ffffff" width="30%">标签</td>
                                    <td bgcolor="#ffffff">下单时间</td>
                                </tr>
                                <?php foreach($newDowns as $v):?>
                                <tr>
                                    <td align="center"><a href="__APP__/Home/{$v['cate_url']}/content/id/{$v['goods_id']}" alt="" target="_blank">{$v['goods_name']}</a></td>
                                    <td align="center">{$v['attrtype_name']}</td>
                                    <td align="center">
                                        <p class="tags">
                                            <?php foreach($v['attr_name'] as $m):?>
                                            <a href="#"><?php echo $m['attr_name'];?></a>
                                            <?php endforeach;?>
                                        </p>
                                    </td>
                                    <td align="center"><?php echo date('Y-m-d H:i',$v['download_time'])?></td>
                                </tr>
                                <?php endforeach;?>

                                </tbody>

                            </table>
                            <div class="blank5"></div>
                            <div id="pager" class="pagebar">
                                    <span class="f_l " style="margin-right:10px;">总计 <b>{$downs_num}</b>  个记录</span>

                            </div>
                            <div class="page">
                                         {$page}
                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</block>










