
<extend name="User/Base/base" />

<block name="main">
    <div class="box">
        <div class="blank"></div>
        <div id="ur_here">
            当前位置: <a href="mbmeilishuo/">首页</a> <code>&gt;</code> 用户中心
        </div>
    </div>
    <div class="block clearfix1">
        <include file="User/Public/left"/>


        <div class="AreaR">
            <div class="AreaR_box">
                <div class="AreaR_box_1">
                    <div class="clearfix">
                        <h5><span style="font-size: 20px;display: block;margin-bottom:10px;border-bottom:1px solid #DDDDDD;">我的下载</span></h5>
                        <div class="blank" ></div>
                        <table bgcolor="#F6F6F6" border="0" cellpadding="5" cellspacing="1" width="100%">
                            <tbody>
                            <tr align="center">
                                <td bgcolor="#ffffff" width="40%">标题</td>
                                <td bgcolor="#ffffff">类型</td>
                                <td bgcolor="#ffffff" width="30%">标签</td>
                                <td bgcolor="#ffffff">下单时间</td>
                            </tr>
                            <tr>
                                <td align="center"><a href="#" alt="">素材火官网后台模板下载</a></td>
                                <td align="center">	网站模板</td>
                                <td align="center">
                                    <p class="tags">
                                        <a href="#">响应式</a>
                                        <a href="#">后台</a>
                                    </p>
                                </td>
                                <td align="center">2018-01-23 17:50</td>
                            </tr>
                            <tr>
                                <td align="center"><a href="#" alt="">纯CSS自定义动画开关、选择框和单选按钮</a></td>
                                <td align="center">	网页特效</td>
                                <td align="center">
                                    <p class="tags">
                                        <a href="#">按钮</a>
                                        <a href="#">单选</a>
                                        <a href="#">选复</a>
                                        <a href="#">选框</a>
                                        <a href="#">checkbox</a>
                                        <a href="#">checkbox</a>
                                        <a href="#">checkbox</a>
                                        <a href="#">checkbox</a>
                                    </p>
                                </td>
                                <td align="center">2017-12-29 15:49</td>
                            </tr>
                            </tbody>

                        </table>
                        <div class="blank5"></div>
                        <div id="pager" class="pagebar">
                                <span class="f_l " style="margin-right:10px;">总计 <b>0</b>  个记录</span>

                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>



</block>










