
<extend name="Common/base" />

<block name="main">
    <div class="marquee_box">
        <div class="w_list">
            <marquee scrollamount="3" scrolldelay="10">【<span class="marquee_main">
                <span class="red"><a href="http://www.sucaihuo.com/member/pay.html" rel="nofollow" target="_blank">在线充值</a> 温馨提示：</span>充200元以上立即赠送1个月会员，充的多送的多，永久会员再送50元积分</span>，<a href="http://www.lanrenzhijia.com" target="_blank">懒人之家</a>投放广告和技术问题协助联系QQ416148489】
            </marquee>
        </div>
    </div>
    <div id="classify">
        <div class="classify_box ">
            <?php $curent;
            $ok=0;
             ?>

            <?php foreach($attrs as $k => $v):?>
                <?php if($v['attrtype_id']==3):?>
                    <?php
                        if(I('filter')){
                            $a=explode('-',I('filter'));
                        }else{
                            $a=array_fill(0,$num+1,0);
                        }
                    ?>

                    <?php if($v['child']):?>
                        <div class="tg_classify_wrap clearfix ">
                            <dl class="tg_classify_wrap_left">
                                <dt class="">
                                    <i class="icon_order"></i>
                                    {$v['attr_name']}
                                </dt>
                            </dl>
                            <dl class="tg_classify_wrap_right">
                                <?php $filter=implode('-',$a);?>
                                <dd class="<?php if(!I('filter') or $a[$ok]==0){echo 'on1';}?>">
                                    <?php $c=explode('-',I('filter'));
                                    $c[$k]=0;
                                    $filter=implode('-',$c);

                                    ?>
                                    <a href="<?php
                                        if($filter=='0-0'){
                                            echo U('Vip/index');
                                        }elseif(!I('filter')){
                                            echo U('Vip/index');
                                        }else{
                                            echo U('Vip/index',['filter'=>$filter]);
                                        }
                                    ?>">
                                        </span>不限</span>
                                    </a>
                                </dd>
                                <!--这里取得URL的filter变量-->
                                <?php if(I('filter')){
                                    $e=explode('-',I('filter'));
                                    foreach ($v['child'] as $i =>$h){
                                        foreach ($h['value'] as $p=>$o){
                                            if($e[0]==$o['vid']){
                                                $cur=true;
                                                $cur_id= $o['id'];

                                            }
                                        }
                                    }

                                }?>

                                <!--这里取得URL的filter变量结束-->
                                <?php foreach($v['child'] as $v1):?>
                                <?php
                                $a[$ok]=$v1['id'];
                                $filter=implode('-',$a);

                                ?>
                                    <dd class="<?php
                                        if(I('filter') && $e[$ok]==$v1['id']){
                                            echo 'on1';
                                        }
                                        if($cur && $cur_id==$v1['id']){
                                            echo 'on1';
                                        }

                                       ?>">
                                        <a href="<?php echo U('Video/index',['filter'=>$filter])?>">
                                            <span>{$v1.attr_name}</span>
                                        </a>
                                    </dd>
                                <?php endforeach;?>
                            </dl>
                        </div>
                        <!--这里是固定分类子集-->
                        <?php if(I('filter')){
                                $d=explode('-',I('filter'));
                                foreach ($v['child'] as $i =>$h){
                                     foreach ($h['value'] as $p=>$o){
                                        if($d[0]==$o['vid']){
                                            $curent=true;
                                            $curent_id= $o['id'];


                                         }
                                     }
                                }
                            }
                        ?>
                        <!--这里是固定分类子集结束-->
                <!--这里是分类子集-->
                        <?php
                        if(I('filter')){
                            $n=explode('-',I('filter'));
                        }
                        if($n[0]!=0){
                            if(I('filter')){
                                $a=explode('-',I('filter'));
                            }else{
                                $a=array_fill(0,$num,0);
                            }
                            foreach($v['child'] as $t =>$j){
                                    if($curent){
                                        $n[0]=$curent_id;
                                    }
                                    if($n[0]==$j['id']){
                                        ?>
                                        <div class="tg_classify_wrap clearfix ">
                                            <dl class="tg_classify_wrap_left">
                                                <dt class="">
                                                    <i class="icon_order"></i>
                                                    分类子集
                                                </dt>
                                            </dl>
                                            <dl class="tg_classify_wrap_right">
                                                <?php $filter=implode('-',$a);?>
                                                <dd class="<?php
                                                    if(!I('filter') or $a[$ok]==0){
                                                        echo 'on1';
                                                    }
                                                    if($a[$k]==$j['id']){
                                                        echo 'on1';
                                                    }

                                                 ?>">
                                                    <a href="<?php echo U('Video/index',['filter'=>$filter]);?>">
                                                        </span>不限</span>
                                                    </a>
                                                </dd>

                                                <?php foreach($j['value'] as $m):?>
                                                <?php
                                                        $a=explode('-',I('filter'));
                                                        $a[$ok]=$m['vid'];
                                                        $filter=implode('-',$a);

                                                ?>
                                                <dd class="<?php if(I('filter') && $e[0]==$m['vid']){echo 'on1';}?>">
                                                    <a href="<?php echo U('Video/index',['filter'=>$filter])?>">
                                                        <span>{$m.v1}</span>
                                                    </a>
                                                </dd>
                                                <?php endforeach;?>
                                             </dl>
                                        </div>

                        <?php

                                    }
                                }
                            }
                       ?>

                <!--这里是分类子集结束-->
                    <?php else:?>
                        <div class="tg_classify_wrap clearfix ">
                            <dl class="tg_classify_wrap_left">
                                <dt class="">
                                    <i class="icon_order"></i>
                                    {$v['attr_name']}
                                </dt>
                            </dl>
                            <dl class="tg_classify_wrap_right">
                                <?php $filter=implode('-',$a);?>
                                <dd class="<?php if(!I('filter') or $a[$k]==0){echo 'on1';}?>">
                                    <?php $c=explode('-',I('filter'));
                                    $c[$k]=0;
                                    $filter=implode('-',$c);
                                    ?>
                                    <a href="<?php
                                        if($filter=='0-0-0-0'){
                                            echo U('Video/index');
                                        }elseif(!I('filter')){
                                            echo U('Video/index');
                                        }else{
                                            echo U('Video/index',['filter'=>$filter]);
                                        }
                                    ?>">
                                        </span>不限</span>
                                    </a>
                                </dd>
                                <!--这里取得URL的filter变量-->
                                <?php if(I('filter')){
                                    $d=explode('-',I('filter'));

                                }?>
                                <!--这里取得URL的filter变量结束-->

                                <?php foreach($v['value'] as $v1):?>
                                <?php $a[$ok]=$v1['id']; $filter=implode('-',$a);?>
                                    <dd class="<?php if(I('filter') && $d[$ok]==$v1['id']){echo 'on1';}?>">
                                        <a href="<?php echo U('Video/index',['filter'=>$filter])?>">
                                            <span>{$v1.v1}</span>
                                        </a>
                                    </dd>
                                <?php endforeach;?>
                            </dl>
                        </div>
                    <?php endif;?>
                   <?php $ok++; ?>
                <?php endif;?>
            <?php endforeach; ?>

            </div>
        </div>

    </div>

    <div id="content">
        <?php
            if(I('filter')){
                $a=explode('-',I('filter'));
            }else{
                $a=array_fill(0,$num+1,0);
            }
        ?>
        <div class="sort">
            <?php foreach($sorts as $v):?>
                <?php if($v['sort_name']!=='推荐'):?>
                    <div class="tg_classify_wrap clearfix">
                        <dl class="tg_classify_toggle">
                            <?php
                                if(I('filter')){
                                    $b=explode('-',I('filter'));
                                }
                            ?>
                            <dt class="<?php if(I('filter') && $b[$num]==$v['id']){echo 'on2';}?>">
                                <?php $a[$num]=$v['id']; $filter=implode('-',$a);?>
                                <a href="<?php echo U('Video/index',['filter'=>$filter])?>">
                                    <i class="icon_order"></i>
                                    <span><?php echo $v['sort_name'];?></span>
                                    <b class="icon_order"></b>
                                </a>
                            </dt>
                        </dl>
                    </div>
                <?php else:?>
                    <div class="tg_classify_wrap checkbox_recommond clearfix">
                        <dl class="tg_classify_toggle checkbox_img ">
                            <?php
                                        if(I('filter')){
                                            $w=explode('-',I('filter'));
                                        }
                                    ?>
                            <dt class="<?php if(I('filter') && $w[$num]==$v['id']){echo 'on3';}?>">
                                <?php $a[$num]=$v['id']; $filter=implode('-',$a);?>
                                <a href="<?php echo U('Video/index',['filter'=>$filter])?>">
                                    <i class="icon_order"></i>
                                    <span>推荐</span>
                                    <b class="icon_order"></b>
                                </a>
                            </dt>
                        </dl>
                    </div>

            <?php endif; endforeach;?>


            <div id="order-page" class="order-page">
                <span class="find_results_num">共<span class="red"> 198 </span>个网站模板</span>
                <span class="page-small">
                    <a class="prev-btn page-btn" href="javascript:void(0);">
                        <span class="arrow-left arrow arrow-left-none"></span>
                    </a>
                    <span class="orange">1</span>/5
                    <a class="pnext-btn page-btn" href="http://www.sucaihuo.com/templates/3-10-0-1-0-2">
                        <span class="arrow-right arrow "></span>
                    </a>
                </span>
            </div>


        </div>



        <div class="list"></div>


    </div>

</block>










