
<extend name="Common/base" />

<block name="main">
    <div id="cate_body" class="clearfix">
        <div class="marquee_box clearfix">
            <div class="w_list">
                <marquee scrollamount="3" scrolldelay="10">【<span class="marquee_main">
                <span class="red"><a href="http://www.sucaihuo.com/member/pay.html" rel="nofollow"
                                     target="_blank">在线充值</a> 温馨提示：</span>充200元以上立即赠送1个月会员，充的多送的多，永久会员再送50元积分</span>，<a
                        href="http://www.lanrenzhijia.com" target="_blank">懒人之家</a>投放广告和技术问题协助联系QQ416148489】
                </marquee>
            </div>
        </div>
        <div id="classify" class="clearfix">
            <div class="classify_box ">
                <?php $curent;
                    $ok=0;
             ?>
                <?php foreach($attrs as $k => $v):?>
                <?php if($v['attrtype_id']==1):?>
                <?php
                        if(I('filter')){
                            $a=explode('-',I('filter'));
                        }else{
                            $a=array_fill(0,$num+1+1,0);
                        }

                    ?>

                <?php if($v['child']):?>
                <div class="tg_classify_wrap clearfix ">
                    <dl class="tg_classify_wrap_left">
                        <dt class="">
                            <i class="icon_order"></i>
                            {$v['attr_name']}
                        </dt>
                    </dl>
                    <dl class="tg_classify_wrap_right">
                        <?php $filter=implode('-',$a);?>
                        <dd class="<?php if(!I('filter') or $a[$ok]==0){echo 'on1';}?>">
                            <?php $c=explode('-',I('filter'));
                                    $c[$k]=0;
                                    $filter=implode('-',$c);

                                    ?>
                            <a href="<?php
                                        if($filter=='0-0-0-0-0-0'){
                                            echo U('Svip/index');
                                        }elseif(!I('filter')){
                                            echo U('Svip/index');
                                        }else{
                                            echo U('Svip/index',['filter'=>$filter]);
                                        }
                                    ?>">
                                </span>不限</span>
                            </a>
                        </dd>

                        <!--这里取得URL的filter变量-->
                        <?php if(I('filter')){
                                    $e=explode('-',I('filter'));
                                    foreach ($v['child'] as $i =>$h){
                        foreach ($h['value'] as $p=>$o){
                                if($e[0]==$o['vid']){
                                $cur=true;
                                $cur_id= $o['id'];
                             }
                          }
                        }
                        }?>
                        <!--这里取得URL的filter变量结束-->
                        <?php foreach($v['child'] as $v1):?>
                        <?php
                                        $a[$ok]=$v1['id'];
                                        $a[$num+1]=0;
                                        $filter=implode('-',$a);
                                    ?>

                        <dd class="<?php
                                        if(I('filter') && $e[$ok]==$v1['id']){
                                            echo 'on1';
                                        }
                                        if($cur && $cur_id==$v1['id']){
                                            echo 'on1';
                                        }

                                       ?>">
                            <a href="<?php echo U('Svip/index',['filter'=>$filter])?>">
                                <span>{$v1.attr_name}</span>
                            </a>
                        </dd>
                        <?php endforeach;?>
                    </dl>
                </div>
                <!--这里是固定分类子集-->
                <?php if(I('filter')){
                $d=explode('-',I('filter'));
                foreach ($v['child'] as $i =>$h){
                        foreach ($h['value'] as $p=>$o){
                        if($d[0]==$o['vid']){
                        $curent=true;
                        $curent_id= $o['id'];
                       }
                    }
                 }
                }
                ?>
                <!--这里是固定分类子集结束-->
                <!--这里是分类子集-->
                <?php
                if(I('filter')){
                    $n=explode('-',I('filter'));
                }

                if($n[0]!=0){
                    if(I('filter')){
                        $a=explode('-',I('filter'));
                    }else{
                        $a=array_fill(0,$num,0);
                    }
                foreach($v['child'] as $t =>$j){
                        if($curent){
                            $n[0]=$curent_id;
                            }
                        if($n[0]==$j['id']){
                 ?>
                <div class="tg_classify_wrap clearfix ">
                    <dl class="tg_classify_wrap_left">
                        <dt class="">
                            <i class="icon_order"></i>
                            分类子集
                        </dt>
                    </dl>
                    <dl class="tg_classify_wrap_right">

                        <?php if($filter){
                        $feilei=$n[$ok];
                        $n[$num+1]=0;
                        }?>
                        <dd class="<?php
                                                    if(!I('filter') or $feilei==0){
                                                        echo 'on1';
                                                    }
                                                    if(in_array($feilei,$parent_ids)){
                                                        echo 'on1';
                                                    }

                                                 ?>">

                            <a href="<?php
                             if($filter){
                                if(in_array($feilei,$parent_ids)){
                                    $n[$ok]=$feilei;
                                }else{
                                    foreach($attrterss as $x){
                                        if($feilei==$x['attrter_id']){
                                            $n[$ok]=$x['attr_id'];
                                        }
                                    }
                                }
                                $filter=implode('-',$n);
                                echo U('Svip/index',['filter'=>$filter]);
                             }
                             ?>">

                                </span>不限</span>
                            </a>
                        </dd>
                        <?php foreach($j['value'] as $m):?>
                        <?php
                            $a=explode('-',I('filter'));
                            $a[$ok]=$m['vid'];
                            $a[$num+1]=0;
                            $current=$m['id'];
                            $filter=implode('-',$a);
                          ?>
                        <dd class="<?php if(I('filter') && $e[0]==$m['vid']){echo 'on1';}?>">
                            <a href="<?php echo U('Svip/index',['filter'=>$filter])?>">

                                <span>{$m.v1}</span>
                            </a>
                        </dd>
                        <?php endforeach;?>
                    </dl>
                </div>

                <?php

                                    }
                                }
                            }
                       ?>

                <!--这里是分类子集结束-->
                <?php else:?>
                <div class="tg_classify_wrap clearfix ">
                    <dl class="tg_classify_wrap_left">
                        <dt class="">
                            <i class="icon_order"></i>
                            {$v['attr_name']}
                        </dt>
                    </dl>
                    <dl class="tg_classify_wrap_right">
                        <?php $filter=implode('-',$a);?>
                        <dd class="<?php if(!I('filter') or $a[$k]==0){echo 'on1';}?>">
                            <?php $c=explode('-',I('filter'));
                                    $c[$ok]=0;
                                    $c[$num+1]=0;
                                    $filter=implode('-',$c);
                                    ?>
                            <a href="<?php
                                        if($filter=='0-0-0-0-0-0'){
                                            echo U('Svip/index');
                                        }elseif(!I('filter')){
                                            echo U('Svip/index');
                                        }else{
                                            echo U('Svip/index',['filter'=>$filter]);
                                        }
                                    ?>">
                                </span>不限</span>
                            </a>
                        </dd>
                        <!--这里取得URL的filter变量-->
                        <?php if(I('filter')){
                                    $d=explode('-',I('filter'));
                                }?>
                        <!--这里取得URL的filter变量结束-->

                        <?php foreach($v['value'] as $v1):?>
                        <?php
                        $a[$ok]=$v1['id'];
                        $a[$num+1]=0;
                        $filter=implode('-',$a);
                        ?>
                        <dd class="<?php if(I('filter') && $d[$ok]==$v1['id']){echo 'on1';}?>">
                            <a href="<?php echo U('Svip/index',['filter'=>$filter])?>">
                                <span>{$v1.v1}</span>
                            </a>
                        </dd>
                        <?php endforeach;?>
                    </dl>
                </div>
                <?php endif;?>
                <?php $ok++; ?>
                <?php endif;?>
                <?php endforeach; ?>

            </div>
        </div>

        <div id="content" class="content clearfix">
            <?php
            if(I('filter')){
                $h=explode('-',I('filter'));
            }else{
                $h=array_fill(0,$num+1+1,0);

            }
             ?>

            <div class="sort clearfix">
                <?php foreach($sorts as $v):?>
                <?php if($v['sort_name']!=='推荐'):?>
                <div class="tg_classify_wrap clearfix">
                    <dl class="tg_classify_toggle">
                        <?php
                                if(I('filter')){
                                    $b=explode('-',I('filter'));
                                }
                            ?>
                        <dt class="<?php if(I('filter') && $b[$num]==$v['id']){echo 'on2';}?>">
                            <?php $h[$ok]=$v['id']; $filter=implode('-',$h);?>
                            <a href="<?php echo U('Svip/index',['filter'=>$filter])?>">
                                <i class="icon_order"></i>
                                <span><?php echo $v['sort_name'];?></span>
                                <b class="icon_order"></b>
                            </a>
                        </dt>
                    </dl>
                </div>
                <?php else:?>
                <div class="tg_classify_wrap checkbox_recommond clearfix">
                    <dl class="tg_classify_toggle checkbox_img ">
                        <?php
                            if(I('filter')){
                                    $h=explode('-',I('filter'));
                                }else{
                                    $h=array_fill(0,$num+1+1,0);

                                }
                          ?>
                        <dt class="<?php if(I('filter') && $h[$num]==$v['id']){echo 'on3';}?>">
                            <?php $h[$ok]=$v['id']; $filter=implode('-',$h);?>
                            <a href="<?php echo U('Svip/index',['filter'=>$filter])?>">
                                <i class="icon_order"></i>
                                <span>推荐</span>
                                <b class="icon_order"></b>
                            </a>
                        </dt>
                    </dl>
                </div>
                <?php endif; endforeach;?>
                <?php $ok++;?>

                <div id="order-page" class="order-page">
                    <span class="find_results_num">共<span class="red"> <?php echo $count;?> </span>个网站模板</span>
                    <span class="page-small">
                        <?php if(I('filter')){
                            $L=explode('-',I('filter'));
                            $L[$ok]= $L[$ok]-1;
                            $pre=implode('-',$L);
                        }?>
                    <a class="prev-btn page-btn" href="<?php
                    if($L[$ok]<=0){
                        echo 'javascript:void(0);';
                    }else{
                        echo U('Svip/index',['filter'=>$pre]);
                    }
                    ?>">

                        <span class="arrow-left arrow" <?php
                        if($L[$ok]>=1){
                            echo 'style="border-right: 5px solid #666666;"';
                            }
                        ?>
                        ></span>
                    </a>
                    <!--处理页数显示开始-->
                    <?php
                        if($filter){
                            $p=explode('-',$filter);
                        }
                    ?>
                    <!--处理页数显示结束-->
                    <span class="orange"><?php if($p[$ok]==0){echo 1;}else{echo $p[$ok];}?></span>/{$pages}
                        <?php if(I('filter')){
                            $L=explode('-',I('filter'));
                            $L[$ok]= $L[$ok]+1;
                            if($L[$ok]>=$pages){
                                    $L[$ok]=$pages;
                                }
                            $nex=implode('-',$L);
                        }else{
                            $L=array_fill(0,$num+1+1,0);
                            $L[$ok]= 1;
                            $L[$ok]=$L[$ok]+1;
                            $nex=implode('-',$L);
                        }
                    ?>
                    <a class="pnext-btn page-btn" href="<?php echo U('Svip/index',['filter'=>$nex])?>">
                        <span class="arrow-right arrow "
                        <?php
                        if($L[$ok]>=$pages){
                        echo 'style="border-left: 5px solid #CCCCCC;"';
                        }
                        ?>></span>
                    </a>
                </span>
                </div>
            </div>
            <div id="list" class="list">
                <div class="list_box clearfix">
                    <?php foreach($goodres as $v):?>
                    <div class="goods_box">
                        <a href="__CONTROLLER__/content/id/{$v['id']}"><img src="__ROOT__/{$v['goods_photo']}" alt=""/></a>
                        <p class="goods_title">
                            <a href="###">{$v['goods_name']}</a>
                        </p>
                        <div class="statics">
                            <a class="download citecommon">下载 <em>
                                <?php if($v['download_num']){
                                    echo $v['download_num'];
                                }else{
                                    echo 0;
                                }?>
                                次
                            </em></a>
                            <a class="comment citecommon">评论 <em>
                                <?php if($v['goods_recommend']){
                                    echo $v['goods_recommend'];
                                }else{
                                    echo 0;
                                }?>
                                条
                            </em></a>
                            <a class="scores citecommon">浏览 <em>
                                <?php if($v['goods_comment']){
                                    echo $v['goods_comment'];
                                }else{
                                    echo 0;
                                }?>
                                次
                            </em></a>
                            <a class="modalnum citecommon last">模板 <em>
                                <?php if($v['moban_num']){
                                    echo $v['moban_num'];
                                }else{
                                    echo 0;
                                }?>
                                个
                            </em></a>
                        </div>
                    </div>
                    <?php endforeach;?>
                </div>
            </div>
            <?php if(!empty($goodres)):?>
            <div class="page_list clearfix">
                共 <span class="tatle">4260</span> 个网站模板
                <?php if(I('filter')){
                            $L=explode('-',I('filter'));
                           $L[$ok]= $L[$ok]-1;
                            $pre=implode('-',$L);
                        }?>
                <a href="<?php
                    if($L[$ok]<=0){
                        echo 'javascript:void(0);';
                    }else{
                        echo U('Svip/index',['filter'=>$pre]);
                    }
                    ?>" class="pre">上一页</a>

                <?php for($i=1;$i<=$pages;$i++):?>
                <?php
                if(I('filter')){
                    $z=explode('-',I('filter'));
                    $curr=$z[$ok];
                    if($curr=='' || $curr==0){
                        $curr=1;
                    }

                }else{
                    $z=array_fill(0,$num+1+1,0);
                    $curr=1;
                }
                 ?>
                <?php $z[$ok]=$i; $filter=implode('-',$z);?>
                <a <?php if($curr==$i):?>
                         class="curr"
                    <?php else:?>
                        class="num"
                        href= <?php echo U('Svip/index',['filter'=>$filter])?>
                    <?php endif;?>
                >{$i}</a>
                <?php endfor;?>
                <!--<a href="###" class="end">...107</a>-->
                <?php if(I('filter')){
                    $L=explode('-',I('filter'));
                    $L[$ok]= $L[$ok]+1;
                    if($L[$ok]>=$pages){
                        $L[$ok]=$pages;
                        }
                        $nex=implode('-',$L);
                    }else{
                        $L=array_fill(0,$num+1+1,0);
                        $L[$ok]= 1;
                        $L[$ok]=$L[$ok]+1;
                        $nex=implode('-',$L);
                }
                ?>
                <a href="<?php echo U('Svip/index',['filter'=>$nex])?>" class="next">下一页</a>

            </div>
            <?php else:?>
            <div class="no_result">
                <p><img src="__PUBLIC__/images/no_result.png" alt="暂无相关网站模板" width="96" height="120"></p>
                <p class="words"><span class="line">暂无相关网站模板</span></p>
            </div>
            <?php endif;?>

        </div>


    </div>
    <script>
       /*$(window).ready(function(){
           $('.curr').attr('href','');
       });
*/



    </script>



</block>










